/* Universal things */
* {
    box-sizing: border-box;
    
}

:root {
    --darktext: rgb(68, 68, 65);
    --porcini: rgb(115, 115, 110);
    --lightgrey: lightgrey;
    --white: white;
}
/* Header */
header {
    background-image: url(../images/frost.jpg);
    background-size: contain;
    display: block;
    border-bottom: 15px solid  var(--porcini);
    position: relative;
}

/* 
For profile image (but I think I want it at the bottom instead)
img {
    width: 60px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 5px;
} */

/* Main heading */
h1 {
    color: var(--white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    position: relative;
    padding: 50px;
}

h1::after {
    content: "Web Development Portfolio";
    position: absolute;
    top: 95px;
    left: 50px;
    color: var(--lightgrey);
    font-size: 40%;
}

/* Navigation bar */
nav {
    display: block;
}

nav ul {
    list-style-type: none;
    float: right;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--porcini);
    padding: 0px 20px;
}

nav ul li, a{
    color: white;
    text-decoration: none;
    line-height: 2;
    padding: 0px 20px;
}
/* Main box with content and sidebar */
main {
    background-color: var(--lightgrey);
    width: 100%;
    display:block;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;;
}

#about::before,
#work::before,
#contact::before {
    font-size: 300%;
    color: var(--porcini);
    border-right: 5px solid var(--porcini);
    padding: 10px 50px 10px 0px;
    margin-right: 10px;
    width: 175px;
}

#about,
#work,
#contact {
    width: 100%;
    padding-top: 20px;
    color: var(--darktext);
    margin-bottom: 30px;
}

#about::before {
    content: "About";
}

#about p {
    width: 65%;
    margin: 0px 30px;
    line-height: 1.5;
}

/* Work */
#work::before {
    content: "Work";
}

#work {
    
}

#marketing {
    width: 65%;
    margin: 0px 30px;
    position: relative;
}

#placeholders {
    display: flex;
    flex-flow: row wrap;
    width: 65%;
    margin: 0px 30px;
}

.card {
    width: 50%;
    margin: auto;
}

#marketing img,
.card img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border: 3px solid var(--porcini);
}
#mountains,
#peony,
#cassie,
#butterfly {
    position: relative;
}


#marketing::after,
#mountains::after,
#peony::after,
#cassie::after,
#butterfly::after {
    position: absolute;
    background-color: var(--porcini);
    color: var(--white);
    border: 3px solid var(--darktext);
    padding: 10px 20px;
    bottom: 3px;
    left: 3px;
}

#marketing::after {
    content: "Challenge 1: Marketing site code refactor";
}

#mountains::after,
#peony::after,
#cassie::after,
#butterfly::after {
    content: "Coming soon"
}

#contact::before {
    content: "Contact"
}

#contact ul {
    margin-left: 30px;
}

/* Footer */
footer {
    background-color: var(--porcini);
    color: var(--white);
    font-weight: lighter;
    font-size: 60%;
    display: block;
}

footer p {
    text-align: center;
}

footer a {
    padding: 0;
}

/* Media queries */
@media screen and (max-width: 914px) {
    #about::before,
    #work::before,
    #contact::before {
        width: 100px;
    } 
}

#marketing::after,
#mountains::after,
#peony::after,
#cassie::after,
#butterfly::after {
    font-size: 75%;
    padding: 5px 10px;
}

@media screen and (max-width: 768px) {
  
    #about::before,
    #work::before,
    #contact::before {
        padding: 10px 30px;
        font-size: 200%;
    }
    
}

/* Stops looking good below 586px */
@media screen and (max-width: 576px) {
    .smallscreen {
        display: block;
        text-align: center;
        width: 100%
    }

    #about::before,
    #work::before,
    #contact::before {
        display: none;
    }

    .card {
        width: 100%;
        margin: auto;
    }
}